@page
@model AboutUsModel
@{
    ViewData["Title"] = "About Us";
}
<h1 class="txt-color">@ViewData["Title"]</h1>
<div>
    <p class="txt-color">Your Mobile Guide</p>
</div>
<div>
    <p class="txt-color"> This Website helps to make the user to take decision by choosing what kind of mobile he is looking for, from the mobiles displayed in our website with previous users rating, comments and complete product Description. </p>
</div>
<div>
    <p> Also the visited user can give his ratings and comments also</p>
</div>
<div>
    <p class="txt-color">We achieved this by creating a beautiful website where the user can click on a Mobile card and read its short description, leave comments on what they think about it.</p>
</div>

<h1 class="about-us-title">Our Team</h1>
<div>
    <div class="card-deck">

        <div class="card">

            <div class="card-body">
                <h5 class="card-title">Mohith Sairam K V</h5>
                <h6 class="card-title">Student at Seattle University pursuing MS in Computer Science</h6>

            </div>
        </div>
        <div class="card">

            <div class="card-body">
                <h5 class="card-title">Karthik Nalla</h5>
                <h6 class="card-title">Student at Seattle University pursuing MS in Computer Science</h6>

            </div>
        </div>
        <div class="card">

            <div class="card-body">
                <h5 class="card-title">Rakesh Radhakrishna Grandi</h5>
                <h6 class="card-title">Student at Seattle University pursuing MS in Computer Science</h6>

            </div>
        </div>
        <div class="card">

            <div class="card-body">
                <h5 class="card-title">Liam Minh</h5>
                <h6 class="card-title">Student at Seattle University pursuing MS in Computer Science</h6>

            </div>
        </div>
    </div>
</div>