@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>


<body>
    

    <h2>Information Collection</h2>
    <p>We collect both personal and non-personal information from users. Personal information may include names, email addresses, and other contact details. Non-personal information may include browser types, device information, and website usage statistics.</p>

    <h2>Data Usage</h2>
    <p>The information we collect is used to provide product recommendations, enhance website functionality, and personalize the user experience. We may use the data to improve our services and communicate with users regarding their inquiries or requests.</p>

    <h2>Data Sharing</h2>
    <p>We do not share users' personal information with third parties without their consent, except as required by law or when necessary to provide the requested services. However, non-personal information may be shared with analytics or advertising providers to improve our website and deliver relevant content.</p>

    <h2>Cookies and Tracking Technologies</h2>
    <p>We use cookies, web beacons, and similar tracking technologies to enhance user experience and gather information about website usage. These technologies help us analyze trends, administer the site, track users' movements, and gather demographic information.</p>

    <h2>User Choices</h2>
    <p>Users can choose to disable cookies through their browser settings. However, please note that disabling cookies may affect the functionality of certain parts of our website. Users can also manage their preferences or opt-out of certain data sharing practices.</p>

    <h2>Security</h2>
    <p>We take reasonable measures to protect users' information from unauthorized access, alteration, or disclosure. However, no data transmission over the internet or electronic storage is completely secure. Users are responsible for maintaining the confidentiality of their login credentials and should contact us immediately if they suspect any unauthorized use of their account.</p>

    <h2>Changes to the Privacy Policy</h2>
    <p>We reserve the right to update or modify this privacy policy at any time. Any changes will be effective upon posting the revised policy on this page. We encourage users to review this page periodically to stay informed about how we collect, use, and protect their information.</p>

   <p>Happy Learning!</p>
</body>

